@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.feed {
  &__item {
    &-title {
      &-link {
        color: #444444;
      }
    }

    &-description {
      color: #777777;
    }

    &-meta {
      &-time {
        color: #444444;
      }

      &-category {
        &-link {
          color: $color-secondary;
        }
      }
    }
  }
}

@include breakpoint-sm {
  .feed {
    &__item {
      @include margin-bottom(2);
      display: flex;
      align-items: center;

      &-left {
        transform: scale(3, 8);
        margin-right: 25px;
        font-size: x-small;
      }

      &-right {
        transform: scale(3, 8);
        margin-left: 20px;
        font-size: x-small;
      }

      &:last-child {
        @include margin-bottom(0.5);
      }

      &-title {
        font-size: $typographic-base-font-size * 1.5;
        @include line-height(1.4);
        @include margin-top(0);

        &-link {
          &:hover,
          &:focus {
            color: $color-base;
            border-bottom: 1px solid $color-base;
          }
        }
      }

      &-description {
        font-size: $typographic-base-font-size;
        @include line-height(0.8);
      }

      &-meta {
        &-time {
          font-size: $typographic-small-font-size;
          font-weight: 600;
          text-transform: uppercase;
        }

        &-divider {
          margin: 0 5px;
        }

        &-category {
          &-link {
            font-size: $typographic-small-font-size;
            font-weight: 600;
            text-transform: uppercase;

            &:hover,
            &:focus {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}

@include breakpoint-md {
  .feed {
    &__item {
      @include margin-bottom(2.5);
      display: flex;
      align-items: center;

      &-left {
        transform: scale(3, 8);
        margin-right: 35px;
        font-size: x-small;
      }

      &-right {
        transform: scale(3, 8);
        margin-left: 30px;
        font-size: x-small;
      }

      &:last-child {
        @include margin-bottom(0.5);
      }

      &-title {
        font-size: $typographic-base-font-size * 1.6875;
        @include line-height(1.5);
        @include margin-top(0);
        @include margin-bottom(0.5);

        &-link {
          &:hover,
          &:focus {
            border-bottom: 1px solid $color-base;
          }
        }
      }

      &-description {
        font-size: $typographic-base-font-size;
        @include line-height(1);
        @include margin-bottom(0.75);
      }

      &-meta {
        &-time {
          font-size: $typographic-small-font-size;
          font-weight: 600;
          text-transform: uppercase;
        }

        &-divider {
          margin: 0 5px;
        }

        &-category {
          &-link {
            font-size: $typographic-small-font-size;
            color: $color-secondary;
            font-weight: 600;
            text-transform: uppercase;

            &:hover,
            &:focus {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}
