@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
}

@include breakpoint-md {
  .layout {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    padding-top: 70px;
  }
}
