@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

@include breakpoint-md {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .layout {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    padding-top: 70px;
  }
}
