@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  background-color: black;
  font-family: Roboto;
  z-index: 1;

  &-text {
    color: WHITE;
  }
}

@include breakpoint-sm {
  .header {
    display: flex;
    justify-content: center;
    height: 45px;
  }

  .navbar-expand {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
  }

  .navbar-text {
    margin: 0 10px;
    color: #999999;
  }

  .active {
    color: #ffc107;
    border-bottom: 1px solid $color-base;
  }
}

@include breakpoint-md {
  .header {
    height: 60px;
    &-text {
      margin-left: 30px;
    }
  }

  .navbar-expand {
    display: none;
  }
}
